.mainContainer {
  width: 100%;
  padding: 12px;
}

@media (max-width: 776px) {
  .mainContainer {
    margin-top: 100px;
  }
}
.mainContainer .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.usersContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
}
.usersContainer > h1 {
  margin: 200px auto;
}
.usersContainer > a {
  border: 2px solid #eee;
  min-width: 300px;
  height: 300px;
  flex-grow: 1;
  flex-basis: 200px;
}
.usersContainer > a {
  flex-grow: 1;
  flex-basis: 200px;
  border: 2px solid #eee;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
  border-radius: 6px;
}
.usersContainer > a:hover {
  transition: 0.25s ease all;
  transform: scale(1.03);
  box-shadow: 0 0 10px gold;
}
.usersContainer > a hr {
  border-width: 80%;
  margin: auto;
}
.usersContainer img {
  border-left: 3px solid #eee;
  border-color: #eee;
}
.usersContainer .userName > p {
  color: #eee;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 6px;
}
.usersContainer .userName > span {
  font-size: 18px;
  color: #111;
  font-weight: 500;
}
