.mainContainer {
  padding: 12px;
}
@media (max-width: 776px) {
  .mainContainer {
    margin-top: 100px;
  }
}
.mainContainer .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.container > a {
  display: flex;
  flex-direction: column;
  margin: 5px;
  height: 500px;
  max-width: 350px;
  overflow: hidden;
  border: 2px solid #fff;
  border-radius: 5px;
  flex-grow: 1;
  flex-basis: 200px;
  gap: 10px;
}
.container > a:hover {
  transition: 0.25s ease all;
  transform: scale(1.03);
  box-shadow: 0 0 10px gold;
}
.container .gameCard img {
  width: 100%;
  object-fit: fill;
}
.gameDets {
  padding: 6px;
}
.gameDets p {
  font-size: 15px;
}
